---
---

<div class="relative bg-muted pointer-events-none select-none -mt-1" aria-hidden="true">
  <svg
    viewBox="0 0 1440 80"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
    class="w-full h-10 lg:h-14 block"
  >
    <path d="M0,40 C400,80 1040,0 1440,40 L1440,80 L0,80 Z" fill="hsl(0 0% 11%)" />
  </svg>
</div>
